.poster-page-3 {
  height: 440px;
  background-image: url("../img/bg-page-3.png");

  background-size: auto 360px;
  background-position: calc(50% - 100px) top;
  background-repeat: no-repeat;
  margin-bottom: 20px;

  @media (min-width: 767px) {
    background-image: none;
    height: 400px;
  }

  @media (min-width: 1023px) {
    height: 543px;
  }

  @media (min-width: 1279px) {
    height: 680px;
  }
}

.poster-page-3__container {
  height: 100%;
  padding-bottom: 40px;
  padding-left: 16px;
  padding-right: 24px;
  display: flex;
  justify-content: flex-end;

  padding-top: 82px;

  background-image: url("../img/arrow.svg");

  background-size: 260px 260px;
  background-position: bottom right 30%;
  background-repeat: no-repeat;

  @media screen and (min-width: 767px) {
    padding-bottom: 110px;
    padding-left: 64px;
    padding-right: 96px;

    padding-top: 64px;

    background-image: url("../img/arrow.svg"), url("../img/bg-page-3.png");

    background-size: 378px 230px, contain;
    background-position: bottom right 20%, top center;
  }

  @media screen and (min-width: 1023px) {
    padding-bottom: 150px;
    padding-left: 64px;
    padding-right: 128px;
    padding-top: 64px;

    background-size: 335px 335px, contain;
    background-position: bottom right 28%, top center;
  }

  @media screen and (min-width: 1279px) {
    padding-bottom: 250px;
    padding-left: 112px;
    background-size: 410px 410px, contain;
    background-position: bottom right 26%, top center;

    padding-top: 96px;
  }
}

.poster-page-3__text {
  text-align: left;
  color: #191a19;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-align: right;
  width: 230px;

  @media (min-width: 767px) {
    font-size: 16px;
    line-height: 180%;
  }

  @media (min-width: 1023px) {
    font-size: 20px;
    width: 306px;
  }

  @media (min-width: 1279px) {
    font-size: 24px;
    width: 370px;
  }
}

.poster-page-3__text--span {
  font-size: 16px;

  @media (min-width: 767px) {
    font-size: 20px;
  }

  @media (min-width: 1023px) {
    font-size: 24px;
  }

  @media (min-width: 1279px) {
    font-size: 28px;
  }
}

.poster-page-3__text--span--inherit {
  font-size: inherit;
}

.back-ground {
  background-image: url("../img/bg-logo-multi.png");

  background-size: cover;
  background-position: top 380px center;
  background-repeat: no-repeat;

  @media (min-width: 767px) {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-position: top 335px center;
  }

  @media (min-width: 1023px) {
    width: 1024px;
    background-position: top 430px center;
  }

  @media (min-width: 1279px) {
    width: 1280px;
    padding-bottom: 64px;
    background-position: top 540px center;
  }
}

.page-3 .poster-page-3__container {
  @media (min-width: 767px) {
    margin: 0;
  }
}

.page-3__text.text-green {
  margin-top: 32px;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 180%;
}
.page-3__text.text-orange {
  margin-top: 32px;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 200%;
}

.devider {
  padding-bottom: 140px;
  position: relative;
}

.devider__img-wrap {
  margin-bottom: 40px;
}

.devider__img {
  width: 100%;
  height: 100%;
}

.position-arrow {
  position: absolute;
  width: 130px;
  height: 150px;
  bottom: 0px;
  left: 120px;
  z-index: 99;

  @media (min-width: 767px) {
    transform: scaleX(-1);

    width: 180px;
    height: 200px;
    bottom: 40px;
    left: 90px;
  }

  @media (min-width: 1023px) {
    width: 200px;
    height: 220px;
    bottom: 30px;
    left: 170px;
  }
}

.info-7-text {
  color: #191a19;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

  @media (min-width: 767px) {
    font-size: 16px;
    line-height: 180%;
  }

  @media (min-width: 1023px) {
    font-size: 16px;
  }

  @media (min-width: 1279px) {
    font-size: 20px;
  }
}

.register-form {
  padding-top: 32px;
  padding-bottom: 100px;
}

.register-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-form__title {
  color: #3ba637;

  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 180%;
  text-align: center;
  margin-bottom: 40px;
}

.register-form__wrap {
  background-color: #367bd3;
  border-radius: 20px;
  width: 100%;

  @media (min-width: 767px) {
    max-width: 600px;
  }

  @media (min-width: 1023px) {
    max-width: 800px;
  }
}

.register-form__title-wrap {
  padding: 16px 32px 16px 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form__title--big {
  color: #fff;

  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 180%;

  @media (min-width: 767px) {
    font-size: 20px;
  }
}

.register-form__title--small {
  color: #fff;

  text-align: center;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;

  @media (min-width: 767px) {
    font-size: 16px;
  }
}

.register-form__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 24px;
  gap: 40px;

  background-color: #fff;
  border-radius: 0 0 20px 20px;
  border: 1px solid #367bd3;

  @media (min-width: 767px) {
    padding: 32px 86px;
  }
}

.main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-form label {
  color: #000;

  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  padding-bottom: 16px;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #cfd4d9;

  width: 100%;
  height: 40px;
}

.form-control:not(:last-child) {
  margin-bottom: 24px;
}

.main-form .btn {
  margin-top: 18px;
  width: 100%;
}
