.about {
}

.about__container {
}

.about__list {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: stretch;
  gap: 24px;
  width: 100%;
}
// 2 items in a row
.about__item {
  width: calc(50% - 12px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 32px;

  margin-bottom: 56px;
}

.about__item--single {
  width: calc(50% - 12px);
  margin-left: auto;
  margin-right: auto;
}

.about__item-position {
}

.about__item-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  gap: 16px;
  padding: 0 16px;
}

.about__item-text {
  color: #191a19;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.video--page-1 {
  padding-top: 16px;
  padding-bottom: 48px;
}

.page-nav--page-1 {
  padding-bottom: 258px;
}
