.video {
}

.video__frame {
  width: 100%;
  height: 170px;

  @media (min-width: 767px) {
    height: 350px;
  }

  @media (min-width: 1023px) {
    height: 534px;
  }

  @media (min-width: 1279px) {
    height: 646px;
  }
}
